
.foo-title{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 25px;
    position: relative
}

.foo-title::before{
    content: "";
    height: 3px;
    width: 40px;
    background: #fc301e;
    position: absolute;
    left: 0;
    bottom: 0;
}

.foo-text{
    font-size: 14px; 
    font-weight: 300;
    line-height: 24px;
}

.foo-text p{
    font-size: 15px;
    color: #b7c3c8;
    text-align: justify;
}

.foo-services{
    padding-left: 0;
}
.foo-services li{
    padding-bottom: 15px;
}
.foo-services li a{
    color: #b7c3c8;
}

.foo-services li a:hover{
    color: #fc301e;
}
.foo-contact{
    padding: 0;
    margin: 0;
    display: inline-block;
}

.foo-contact li{
    padding-bottom: 4px;
    color: #b7c3c8;
}

.foo-contact li strong{
    float: left;
}
.social-icons a{
    padding-right: 5px;
    color: #b7c3c8;
}

.social-icons .facebook:hover{
    color: #007bff;
}
.social-icons .twitter:hover{
    color: #3183da;
}
.social-icons .google:hover{
    color: #e65d28;
}
.social-icons .linked:hover{
    color: #215a96;
}

.form-input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(207, 205, 205);
    outline: none;
    background: transparent;
}
.form-input:focus{
    border-color: #ef4023 !important;
}

.btn-color{
    color: #fff !important;
    background: #ef4023;
    opacity: .6;
    border-radius: 25px;
}
.btn-link{
    color: #ef4023 !important;
    background: #fff;
    border: 1px solid #ef4023;
    border-radius: 25px;
    width: 25%;
}
.btn-link:hover{
    color: #fff !important;
    background: #e65d28;
    transition: .6s;
}
.btn-color:hover{
    opacity: 1;
}

.color{
    color: #e65d28;
}
.card{
    width: 100% !important;
    overflow: hidden;
}

.card-header-active{
    text-align: center;
    position: relative;
    background-color: #e65d28;
    color: #fff;
    border: none;
    z-index: 2;
}
.b-tag-active{
    width: 525px;
    height: 69px;
    background-color: #e65d28;
    position: relative;
    transform: skewY(-5deg);
    z-index: 1;
    top: -37px;
}
.card{
    text-align: center;
}
.card-header{
    text-align: center;
    position: relative;
    background-color: #f0f0f0;
    border: none !important;
    z-index: 2;
}
.b-tag{
    width: 525px;
    height: 45px;
    background-color: #f0f0f0;
    position: relative;
    transform: skewY(-5deg);
    z-index: 1;
    top: -37px;
}
.full-center a:hover{
    text-decoration: none;
}
.slide_text{
    margin-top: 496px;
}
.bg-light{
    background-color: #fff !important;
}

.nav-item:hover a{
    background-color:#e65d28!important;
    transition:.3s;
    color:#fff!important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background-color:#e65d28!important;
    color: #fff !important;
}
@media only screen and (max-width: 400px){
    .card{
        margin-top: 15px !important;
    }
}

/* .lb-loader,.lightbox{text-align:center;line-height:0}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}html.lb-disable-scrolling{overflow:hidden;position:fixed;height:100vh;width:100vw}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:5px;float:left;background:url(../images/prev.png) left 48% no-repeat;opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{opacity:1}.lb-nav a.lb-next{width:64%;right:5px;float:right;background:url(../images/next.png) right 48% no-repeat;opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;opacity:1}html{width:100%}body{background-color:#fff}.navbar li a.active{background-color:#754ef9!important;color:#fff!important}.nav-item:hover a{background-color:#754ef9!important;transition:.3s;color:#fff!important}#index{background:url(../images/banner.jpg);background-repeat:no-repeat;background-size:100% 100%;width:100%;height:auto}#profile{width:75%;margin-top:22%}#col_1{margin-top:29%}.color{color:#754ef9}h1,h2{font-weight:100}h4,h5{font-weight:400}.section{margin-top:5%}.astrodivider{margin:25px auto;width:400px;max-width:100%;position:relative}.astrodividermask{overflow:hidden;height:20px}.astrodividermask:after{content:'';display:block;margin:-25px auto 0;width:100%;height:25px;border-radius:125px/12px;box-shadow:0 0 8px #222}.astrodivider span{width:50px;height:50px;position:absolute;bottom:100%;margin-bottom:-25px;left:50%;margin-left:-25px;border-radius:100%;box-shadow:0 2px 4px #222;background:#fff}.astrodivider .img{position:absolute;top:4px;bottom:4px;left:4px;right:4px;border-radius:100%;border:1px dashed #222;text-align:center;line-height:40px;font-style:normal;color:#049372}.div-img{position:relative;top:7px;left:7px}.center-block{display:block;margin-left:auto;margin-right:auto;align-items:center}.btn-color{background-color:#754ef9;color:#fcfcfc;border-radius:50px;border:none;outline:0}.btn-color:hover{background-color:#fcfcfc;color:#754ef9}.social{opacity:.7}.social:hover{opacity:1;transition:.3s}.hov-col:hover{color:#754ef9!important}.para{padding:4px 4px 4px 4px}.pro_bar{background-color:#754ef9}.shape{margin-top:3s5px;width:100px;height:57.735px;background:#754ef9;position:relative}.shape::before{content:"";position:absolute;top:-28.8675px;left:0;width:0;height:0;border-left:50px solid transparent;border-right:50px solid transparent;border-bottom:28.8675px solid #754ef9}.shape::after{content:"";position:absolute;bottom:-28.8675px;left:0;width:0;height:0;border-left:50px solid transparent;border-right:50px solid transparent;border-top:28.8675px solid #754ef9}#gen-sec{background:url(../images/banner_2.jpg);background-repeat:no-repeat;background-size:100% 100%;width:100%;overflow:hidden;height:425px}#overlay{width:100%;height:425px;z-index:2;background-color:#754ef9;opacity:.6}.text{position:relative;top:-285px;z-index:3}#hire-btn{position:relative;top:-275px;background-color:transparent;border:1px solid #fcfcfc;border-radius:50px;color:#fcfcfc}#hire-btn:hover{background-color:#c2c2c2;opacity:.8}#service{width:100%;overflow:hidden}.img{width:75%;height:75%}.img-d{display:none}.isDisabled{color:currentColor;opacity:.5;pointer-events:none}.overlay{position:relative;top:-155px}.btn-circle{opacity:0}#view{position:relative;left:-25px}#link{position:relative;left:25px}.gen:hover .img{opacity:.3}.gen:hover .btn-circle{opacity:1!important;color:#754ef9}#plan{height:auto;width:100%;background-color:#fcfcfc}.card{width:100%}.card-header{background-color:#754ef9!important;color:#fcfcfc;text-align:center}#con-cont{margin-bottom:25px}.hover:hover{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}.phone{transform:scaleX(-1)}.form-input{display:block;width:100%;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:none;outline:0;border-bottom:1px solid gray}.form-input:focus{border-bottom-color:#754ef9}#contactPic{width:100%;height:95%}#footer{background-color:#152136;padding-top:45px}.foo-icon{padding:8px}#copy{margin-top:15px;margin-bottom:15px}.scrolled{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}#scrollBtn{display:inline-block;background-color:#754ef9;width:3%;height:5%;text-align:center;border-radius:4px;position:fixed;bottom:30px;right:30px;transition:background-color .3s,opacity .5s,visibility .5s;z-index:1000;opacity:0;visibility:hidden}#scrollBtn:hover{cursor:pointer;background-color:#333}#scrollBtn:active{background-color:#555}#scrollBtn.show{opacity:1;visibility:visible}@media only screen and (max-width:400px){#index{background-size:auto;height:auto}#profile{margin-bottom:25px}#logo{width:25%}.shape{margin-top:25px!important}#pos{top:-95px!important}#system{top:-95px!important}#plan{margin-top:15%!important}#scrollBtn{width:9%!important}}@media only screen and (max-width:375px){.navbar-brand{width:50%}} */

  